/* Main/Body */

body {
    background-color: orange;
    color: white;
    font-family: 'Courier New', Times New Roman
}

/* Images */

img {
    float:left;
    border-radius: 50%;
}

/* Headers */

/* I've made the color cornsilk to try and make the headers pop a little differently from white, just a touch. */
h1, h2, h3 {
    color: cornsilk;
    font-family: 'Times New Roman';
}
h1 {
        font-size: 40px;
}
h2 {
        font-size: 30px;
    clear: both;
    }

/* Not used, yet, mostly there for future practice. */

.demo {
    color: blue;
}
#demo {
    color: green;
}
